In [1]:
import pandas as pd
import numpy as np
import json
import csv

In [2]:
#import csv
df = pd.read_csv('updated_output.csv')

In [3]:
df

    airline flight_id dom_int         schedule_time arr_dep airport
0       JUL   JUL2412       D  2023-12-14T08:00:00Z       D     JUL
1       BRR   BRR2412       D  2023-12-14T12:00:00Z       D     SYG
2       JUL   JUL2512       D  2023-12-14T16:00:00Z       D     JUL
3       JUL   JUL2412       D  2023-12-15T08:00:00Z       D     JUL
4       BRR   BRR2412       D  2023-12-15T12:00:00Z       D     SYG
..      ...       ...     ...                   ...     ...     ...
391      DY     DY764       D  2023-12-20T16:50:00Z       D     TRD
392      WF     WF038       D  2023-12-20T16:50:00Z       D     RRS
393      DY     DY366       D  2023-12-20T16:55:00Z       D     EVE
394      DY     DY414       D  2023-12-20T17:00:00Z       D     AES
395      SN    SN2284       S  2023-12-20T17:00:00Z       D     BRU

[396 rows x 6 columns]

In [ ]:
indices_to_drop = []

# Iterate over the DataFrame
for index, row in df.iterrows():
    if row['airline'] == 'JUL':
        indices_to_drop.append(index)
print(indices_to_drop)
# Drop the rows with indices in indices_to_drop
df.drop(indices_to_drop, inplace=True)

In [ ]:
#lag denne mere dynamisk med en for loop
df = df[df['airline'] != 'JUL']

In [10]:
def transform_df(df, airlines_to_remove):
    excluded_airlines = airlines_to_remove  # Example list of airlines to exclude
    df = df[~df['airline'].isin(excluded_airlines)]
    df['schedule_time'] = df['schedule_time'].str.split('T').str[0]
    return df
airlines_to_remove = ['JUL']
df = transform_df(df, airlines_to_remove)

C:\Users\HenrikØvergaard\AppData\Local\Temp\ipykernel_22280\3509744903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['schedule_time'] = df['schedule_time'].str.split('T').str[0]

In [14]:
def dataframe_to_json(df, file_path):
    df.to_json(file_path, orient='records', lines=False)

In [15]:
dataframe_to_json(df, 'flights.json')